/* || GENERAL STYLES */

:root {
  /** Colors **/
  --mac_blue: #01426A;
  --mac_light_blue: #72c5e7;
  --mac_sheer_blue: #E3F2FA;
  --mac_orange: #D44420;
  --mac_sheer_gray: #E9EBEB;
  --mac_light_gray: #A5ADAF;
  --mac_gray: #5B6770;
  --mac_white: #ffffff;
  --mac_black: #181A1B;
  /** Fonts **/
  --heading_style_light: NewslabLight;
  --heading_style_medium: NewslabMedium;
  --bodycopy_style: DIN Next W01 Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
  --bodycopy_weight: normal;
  --title_size: 3rem;
  --h1_size: 1.4rem;
  --h2_size: 1.2rem;
  --p_size: 1rem;
  --sub_size: 0.9rem;
  /** Border **/
  --border_gray: 1px solid var(--mac_gray);
  --border_sheer_gray: 1px solid var(--mac_sheer_gray);
  --border_radius: 5px;
}
* {
  line-height: 24px;
  font-family: var(--bodycopy_style);
  /* color: var(--mac_black); */
}

body { 
  font-smoothing: antialiased; 
  -webkit-font-smoothing: antialiased; 
  -ms-font-smoothing: antialiased; 
  -moz-font-smoothing: antialiased; 
  background-color: rgb(255, 255, 255); 
  color: rgb(0, 0, 0); 
  /* font-family: NewslabLight, georgia, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;     
  font-size: 1rem; 
  line-height: 1.75rem;  */
}



/* || Typography */

/* … */

/* || Header and Main Navigation */

h1 {
  color: var(--mac_blue);
  margin: 2% 2% 2% 0;
  line-height: 64px;
  font-family: var(--heading_style_light);
  font-size: var(--h1_size);
  font-weight: normal;
  text-align: center;
}





/* BUTTONS */
.button1, .replicate_insert
, a.button1, a.replicate_insert
{
  background: var(--mac_blue) !important;
  color: #fff !important;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 8px;
  width: 190px;
  display: inline-block; /* Makes <a> behave like a block element */
  transition: 0.4s;
}

.button1 a , .button2 a , .button3 a {
  color: #fff;
  text-decoration: none !important; 
}

.button1:hover, .replicate_insert:hover, 
a.button1:hover, a.replicate_insert:hover,
.button1 a:hover
{
  background-color: var(--mac_light_blue) !important;
  color: #fff;
  cursor: pointer;
}

.button2, .replicate_delete, a.button2, a.replicate_delete {
  background: var(--mac_light_blue);
  color: #fff !important; 
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 8px !important; /* Override any inherited padding */
  max-width: 190px;
  transition: 0.4s;
  text-decoration: none !important; 
}
.button2:hover, .replicate_delete:hover, a.button2:hover, a.replicate_delete:hover, .button2 a:hover {
  background-color: var(--mac_orange);
  color: #fff;
  cursor: pointer;
}

.button3, a.button3 {
  background: var(--mac_orange);
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 8px;
  max-width: 190px;
  display: inline-block;
  transition: 0.4s;
}
.button3:hover, a.button3:hover, .button3 a:hover {
  background-color: var(--mac_gray);
  color: #fff;
  cursor: pointer;
}


 /* INFO TILE CONTAINER */
 .info-tile-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 8px;
  box-sizing: border-box;
 }
.info-tile {
  border: 1px solid var(--mac_light_gray);
  border-radius: 5px;
  padding: 0 25px 5px 25px;
  margin: 3px;
  width: 300px;
 }
.info-tile-header {
  color: var(--mac_gray);
  width: 100%;
  text-align: center;
  font-size: 11px;
 }
.tile-row {
  clear: both;
  margin: 0 10px 0 -17px;
 }
.tile-label {
 color: var(--mac_blue);
 font-weight: normal;
 text-transform: capitalize;
 }
.tile-data {
  color: var(--mac_orange);
  font-weight: bold;
  text-transform: capitalize;
 }
.info-tile .tile-label, .info-tile .tile-data{
  float: left;
  margin: 9px 5px 0 0;
  min-width: 45px;
  display: inline-table;
 }
.info-tile-footer {
  clear: both;
  color: var(--mac_gray);
  font-style: italic;
  text-align: left;
  font-size: 11px;
  width: 100%;
  margin-left: -10px;
  padding-top: 7px;
 }

  /* STAT TILE CONTAINER */
.stat-tile-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;      
 }
.stat-tile-container>* {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 175px;
 }
.stat-tile {
  border: 1px solid var(--mac_light_gray);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
 }
.tile-label {
  color: var(--mac_blue);
  font-weight: normal;
  text-transform: capitalize;
 }
.tile-data {
  color: var(--mac_orange);
  font-weight: bold;
  text-transform: capitalize;
 }

  /* MAC COLOR TILES */
.stat-tile.macblue { background-color: var(--mac_blue) }
.stat-tile.macorange { background-color: var(--mac_orange) }
.stat-tile.ltgray { background-color: var(--mac_light_gray) }
.stat-tile.dkgray { background-color: var(--mac_gray)}
.stat-tile.white { background-color: var(--mac_white)}
.stat-tile.black { background-color: var(--mac_black)}
.stat-tile.skyblue { background-color: var(--mac_light_blue)  }
.stat-tile.gold { background-color:  #FFB500; }
.stat-tile.green { background-color:  #658D1B; }
.stat-tile.plum { background-color: #8A1B61; }
.stat-tile.red { background-color: #C8102E; }

.tile-label.white {
  color: #fff;
  font-weight: normal;
  text-transform: capitalize;
 }