/* // 
// 
// cards.scss
//
//  -- https://pipeline.mediumra.re/nav-top-kanban-board.html
 */

.card{
  margin-bottom: 5px;
  box-shadow: 1px lightgray;
  }
  
  
.card-title {
  font-size: 1.25 em;
  font-weight: bold;
  max-width: 90%;
}
.card-header{
  padding-top: 1rem;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border-bottom: none;
}


.card-body {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
  
  .card-body p:last-child{
      margin-bottom: 0;
    }
  
  /** Card Options **/
  
.card-options{
      margin-left: 10px;
      position: relative;
      top: 0;
      right: 0;
    }
  
  /** Card Progress Bars **/
  
.card .progress{
      height: 0.1875rem;
      background: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
  }
  .progress-bar{
        height: 1rem;
        border-radius: .5rem 0 0 0;
  }
  
  /** Custom Cards **/
  
  .card-note{
    background: lighten(yellow,42%);
    border-color: lighten(yellow,38%);
  }

    .avatar{
      margin-right: 20px;
      border-color: lighten(yellow,40%);
    }
    .avatars{
      margin-right: 10px;
    }

  /** Card List **/
  
  .card-list{
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 1rem;
    background: lightgray;
    background-color: lightgrey;
    padding: 12px;
    border-radius: 10px;
}
  .card-list-head{
    display: flex;
    justify-content: space-between;
  }
  .card-list:last-child{
    margin-bottom: 0;
  }
